<%= form_for @user do |f| %>
    <%= f.label @user.name %>,
    <%= f.label "you are invited to the following events: " %>
<% end %>
<br>
<div class="row">
  <div class="col-md-4" align="center" ><%= t(:event_name) %></div>
  <div class="col-md-4" align="center" ><%= t(:state) %></div>
</div><br>

<% @invite_user.each do |invite| %>
    <div class="row">
      <div class="col-md-4" align="center" ><%= invite.event.name %></div>
      <% if invite.state.blank? || invite.state == 0 %>
          <div class="col-md-2" align="center" ><%= link_to 'Accept', invite_path(id: invite.id, state: 1), method: :put %></div>
          <div class="col-md-2" align="center" ><%= link_to 'Reject', invite_path(id: invite.id, state: 2), method: :put %></div>
      <% elsif invite.state == 1 %>
          <div class="col-md-4" align="center" ><%= label_tag "Accept" %></div>
      <% elsif invite.state == 2 %>
          <div class="col-md-4" align="center" ><%= label_tag "Reject"%></div>
      <% end %>
    </div>
<% end %>
