<%= bootstrap_form_for @user, html: {multipart: true}  do |f| %>
    <div class="row">
      <div class="col-md-6" ><%= f.text_field(:name, label: t(:enter_your_new_name)) %></div>
    </div>
    <div class="row" >
      <div><%= image_tag @user.avatar , size: "100" %></div>
    </div>
    <div class="row">
      <div class="col-md-6" ><%= f.file_field(:avatar, label: t(:add_avatar)) %></div>
    </div>
    <div class="row">
      <div class="col-md-6" ><%= submit_tag(t(:edit)) %></div>
    </div>
<% end %>
