<%= link_to t(:main), user_path(current_user) %>
<%= link_to t(:create_event), new_event_path %>
<%= link_to t(:my_event), events_path %>
<%= link_to t(:invites), invites_path %>
 <%= t(:your_name)%> - <%= current_user.name %></span><br><br>