<tr>
  <td><%= event.name %></td>
  <td><%= event.date %></td>
  <td><%= link_to t(:edit), edit_event_path(event) %></td>
  <td><%= link_to t(:delete), event_path(event), method: :delete, data: { confirm: t(:are_you_sure) }%></td>
  <td><%= link_to t(:show),  event_path(event) %></td>
</tr>