<tr>
  <td><%= event.name %></td>
  <td><%= event.date %></td>
  <td><%= link_to 'Изменить', edit_event_path(event) %></td>
  <td><%= link_to 'Удалить', event_path(event), method: :delete, data: { confirm: 'Are you sure?' }%></td>
  <td><%= link_to 'Пригласить', event_path(event) %></td>
</tr>