<div class="row">
  <div class="col-md-4" ><%= t(:event_name) %>:<%= @event.name %></div>
  <div class="col-md-4" ><%= t(:event_date) %>:<%= @event.date.strftime('%d.%m.%Y') %></div>
</div><br>
<% @lists.each do |list| %>
    <div class="product-list">
      <div class="list-header">
        <%= t(:name_shopping_list)%><%= list.name %>
      </div>
      <div class="row" >
        <% list.products.each do |p|%>
            <div class="col-md-12" align="left" ><%= p.name %></div>
        <% end %>
      </div>
<% end %>
<%= link_to t(:back), event_path(params[:event_id]) %>