<h1><%= t(:list_of_events)%></h1>
<table>
  <tr>
    <th><%= t(:event_name)%></th>
    <th><%= t(:event_date)%></th>
  </tr>
    <% @events.each do |event| %>
        <%= render partial: "event", object: event %>
    <% end %>
  <tr>
    <th><%= link_to t(:add_event), new_event_path %></th>
  </tr>
</table>
