<div class="row">
  <div class="col-md-4" ><%= t(:event_name) %>:<%= label_tag @event.name %></div>
  <div class="col-md-4" ><%= t(:event_date) %>:<%= label_tag @event.date.strftime('%d.%m.%Y') %></div>
</div><br>
<div class="row">
  <div class="col-md-4" ><%= t(:quest)%></div>
  <div class="col-md-4" ><th><%= t(:state)%></div>
</div>
<div class="row">
  <div class="col-md-4" ><%= label_tag @user.name %></div>
  <div class="col-md-4" ><%= label_tag "Accept" %><br></div>
</div>
<div class="row">
  <div class="col-md-4" >
    <% for invite in @event.invites %>
        <%= invite.user.name %><br>
    <% end %>
  </div>
  <div class="col-md-4" >
    <% for invite in @event.invites %>
        <% if invite.state == 0 %>
            <%= label_tag "not answered" %>
            <%= link_to 'Delete', invite, method: :delete, data: { confirm: 'Are you sure?' } %><br>
        <% elsif invite.state == 1 %>
            <%= label_tag "Accept" %><br>
        <% elsif invite.state == 2 %>
            <%= label_tag "Reject" %><br>
        <% end %>
    <% end %>
  </div>
</div>
<div class="row" >
  <% if @event.users.first == current_user %>
      <div class="col-md-4" ><%= link_to 'Invite', new_invite_path(event_id: @event.id) %></div>
  <% end %>
</div>
<div class="row" >
  <div class="col-md-4" ><%= link_to 'Create list of products', new_event_product_list_path(event_id: @event.id) %></div>
</div>
<br><br>
<% @lists.each do |list| %>
    <div class="product-list">
      <div class="list-header">
        <%= label_tag t(:name_shopping_list)%><%= list.name %>
      </div>
      <%= link_to 'Delete', "/events/#{@event.id}/product_lists/#{list.id}", method: :delete %>
      <br>
      <%= label_tag t(:users)%>
      <% list.users.each do |user| %>
          <%= user.name %>
      <% end %>
      <% unless list.users.include? current_user %>
          <%= link_to 'Add user',  event_product_list_add_user_path(event_id: @event.id, product_list_id: list.id), method: :put %>
      <% end %>
      <div class="row" >
        <div class="col-md-4" align="center" >Название</div>
        <div class="col-md-4" align="center" >Цена</div>
      </div>
      <div class="row" >
        <% list.products.each do |p|%>
            <div class="col-md-4" align="center" ><%= p.name %></div>
        <% end %>
      </div>
      <div class="row" >
                <%= form_for :product, url: {action: :show}, method: :get do |f| %>
                    <%= f.hidden_field :product_list_id, value: list.id %>
                    <%= f.text_field :name %>
                    <%= f.text_field :price %>
                    <%= f.submit "Add"%>
                <% end %>
      </div>
    </div>
<br><br>
<% end %>



<%= link_to "Calculate", event_calculate_path(event_id: @event.id) %>






