<table>
  <th><%= t(:event)%></th><td><%= @event.name %></td>
  <th><%= t(:date)%></th> <td><%= @event.date %></td>
  <tr>
    <th><%= t(:quest)%></th>
    <th><%= t(:state)%></th>
  </tr>
  <tr>
    <td>
      <% for invite in @event.invites %>
          <%= invite.user.name %><br>
      <% end %>
    </td>
    <td>
      <% for invite in @event.invites %>
          <% if invite.state == 0 %>
              <%= label_tag "not answered" %>
              <%= link_to 'Delete', invite, method: :delete, data: { confirm: 'Are you sure?' } %><br>
          <% elsif invite.state == 1 %>
              <%= label_tag "Accept" %><br>
          <% elsif invite.state == 2 %>
              <%= label_tag "Reject" %><br>
          <% end %>
      <% end %>
    </td>
  </tr>
  <tr><td><%= link_to 'Invite', new_invite_path(event_id: @event.id) %></td></tr>
</table>

<%= link_to 'Create list of purchases', new_event_list_of_purchases_path(event_id: @event.id) %><br>

<% @list.each do |list| %>
    <div>
      <%= list.name %><br>
      <div>
        <% list.users.each do |user| %>
            <%= user.name %>
        <% end %>
        <%= link_to 'Add or remove user' %>
      </div>
      <table>
        <% list.purchases.each do |p| %>
            <tr>
              <td><%= p.name %></td>
              <td><%= p.price %></td>
              <td><%= p.count %></td>
            </tr>
        <% end %>
      </table>
      <%= link_to 'Add new purchases' %>
    </div>
<% end %>
