<!DOCTYPE html>
<html>
<head>
  <title>PaymentEvents</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/menu' if user_signed_in? %>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <%= yield %>
    </div>
    <!--/span-->
  </div><!--/row-->

  <footer>
    <p>&copy; Kodep 2015</p>
  </footer>

</div> <!-- /container -->

</body>
</html>

